server {
    listen 8000;
    server_name 0.0.0.0;
    proxy_set_header Host $http_host;
    proxy_set_header X-Url-Scheme $scheme;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/vagrant/cropcompass;
    }
    location / {
     if ($request_method = OPTIONS) {
       add_header Access-Control-Allow-Origin *;
       add_header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, OPTIONS";
       add_header Access-Control-Allow-Headers "Authorization, Content-Type, Accept";
       add_header Access-Control-Allow-Credentials true;
       add_header Content-Length 0;
       add_header Content-Type text/plain;
       add_header Access-Control-Max-Age 1728000;
       return 200;
     }
     include uwsgi_params;
     uwsgi_pass unix:/tmp/cropcompass.sock;
     uwsgi_read_timeout 30;
     client_max_body_size 15M;
     client_body_buffer_size 128K;
     add_header Access-Control-Allow-Origin *;
     add_header Access-Control-Allow-Credentials false;
     add_header Access-Control-Allow-Headers "Content-Type, Accept, Authorization, Origin, User-Agent";
     add_header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, OPTIONS";
     proxy_set_header X-Forwarded-Protocol $scheme;
    } 
} 
