appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
Django==1.9.5
django-extensions==1.6.6
django-geojson==2.9.0
djangorestframework==3.3.3
drfdocs==0.0.10
gnureadline==6.3.3
ipython==4.2.0
ipython-genutils==0.1.0
Markdown==2.6.6
pexpect==4.0.1
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1

